/* um bom dia amigo */

/* ==================== CLASSES ==================== */


/* ==================== ID's ==================== */

#saida-porta{
    left: 19.80%;
    top: 47.50%;

    width: 75px;
    height: 75px;
    opacity: 90%;
}

#entrada-quarto{
    left: 18.3%;
    top: 2.80%;
    
    width: 75px;
    height: 75px;
    opacity: 70%; 
}

#entrada-museu{
    left: 43.05%;
    top: 60%;
    
    width: 130px;
    height: 130px;
    opacity: 70%; 
}

#soos-btn{
    position: fixed;
    left: 18%;
    top: 29%;
}

#soos{
    width: 260px;
    height: 380px;
}

#stanley-btn{
    position: fixed;
    left: 40%;
    top: 19%;
}

#stanley{
    width: 450px;
    /* height: 550px; */
}

#wendy-btn{
    position: fixed;
    left: 66%;
    top: 22%;
}

#wendy{
    width: 150px;
    height: 450px;
}

/* ==================== ANIMAÇÕES ==================== */
