/* um bom dia amigo */

body{
  /* margin: 0px; */
  overflow: hidden;
}

/* ==================== CLASSES ==================== */

.carousel-geral{
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 0px;
    right: 0px;
}

.img-carousel{
    width: 100vw;
    height: 100vh;
}

.img-personagem{
  filter: drop-shadow(0 0 30px #14ff00);
}

.btn-personagem{
  border-style: none;
  background-color: #fff0;
  cursor: pointer;
}

.btn-personagem:focus{
  outline-style: none;
}

.passagem{
    position: absolute;

    border-radius: 9999px;
    border-style: hidden;

    background-color: rgba(255, 255, 255, 0.80);
    box-shadow: inset 0px 0px 15px 1px #14ff00, 0px 0px 20px #14ff00; 
}

.elemento-interativo{
    animation: elemento-interativo 2s infinite;
    cursor: pointer;
}

.zoom {
    animation: efeito-zoom 1s;
    animation-fill-mode: forwards;
}

/* ==================== ID's ==================== */


/* ==================== ANIMAÇÕES ==================== */

@keyframes elemento-interativo {
    0% {
      box-shadow: inset 0px 0px 15px 1px #14ff00, 0px 0px 20px #14ff00;
    }
    50% {
      box-shadow: inset 0px 0px 30px 3px #14ff00, 0px 0px 35px 5px #14ff00;
    }
    100% {
      box-shadow: inset 0px 0px 15px 1px #14ff00, 0px 0px 20px #14ff00;
    }
}

@keyframes efeito-zoom {
    0% {
      transform: scale(1);
    }
    80%{
        transform: scale(5);
    }
    100% {
      transform: scale(0.10);
    }
}
