/* um bom dia amigo */

/* ==================== CLASSES ==================== */


/* ==================== ID's ==================== */

#segredo-fred{
    left: 42.5%;
    top: 32.9%;

    width: 100px;
    height: 100px;
    opacity: 30%;
}



/* ==================== ANIMAÇÕES ==================== */
