/* um bom dia amigo */


/* ==================== CLASSES ==================== */


/* ==================== ID's ==================== */

#saida-museu{
    left: -7.50%;
    top: 65%;

    width: 180px;
    height: 180px;
    opacity: 70%;
}

/* ==================== ANIMAÇÕES ==================== */
